.bg-lavender {
  background-color: hsl(240, 94%, 81%); /* Lavender color */
}

.nav-link {
  font-weight: bold;
  padding: 10px 20px;
  color:black;
}

.nav-link:hover {
  background-color: #6a58f4; /* Thistle color */
  border-radius: 5px;
}
